.footerParent {
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  font-family: sans-serif;
}


.child {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  padding-top: 10px;
}

.info {
  width: fit-content;
  height: 100%;
  display: flex;
  margin-right: 30px;
}
.info h2 {
  color: #f7941d;
  font-size: medium;
  margin-bottom: 10px;
  font-weight: 400;
  /* font-family: "Inter", sans-serif; */
}
.info li a {
  color: #666;
  font-weight: 500;
  font-size: 12px;
}
.info li {
  list-style: none;
}
.quick {
  width: 30%;
  height: 100%;
  margin-right: 10px;
}
.quick h2 {
  margin-left: 40px;
}
.quick a {
  color: black;
  font-weight: 500;
  font-size: small;
}
.paymentmethod {
  background: url("https://www.meanbuy.com/assets/img/india/icons/paymethods22.png");
  width: 275px;
  height: 40px;
  margin-top: 20px;
  display: inline-block;
}

.policy {
  background: #dbdbdb;
  line-height: 30px;
  height: 30px;
  text-align: right;
  color: #666;
  font-size: small;
  padding-right: 20px;
}
